.button {
    -fx-background-color: #66FFFF;
    -fx-min-width: 150;
    -fx-min-height: 20;
}

.button:hover {
    -fx-background-color: #CC99FF;
}

.button:pressed {
    -fx-background-color: #33FF33;
}

#button-2 {
    -fx-font: 20px "Arial";
}